body {
    margin: 0;
    font-family: sans-serif;
}

.center{
    width: 100%;
    background-color: rgb(21, 255, 0);
    position: absolute;
    height: 25%;
    text-align: center;
    color: white;
}

.left{ 
    background-color: rgb(0, 185, 83);
    width: 100%;
    position: absolute;
    height: 25%;
    top: 25%;
    text-align: center;
    color: white;
}

.right{
    background-color: rgb(0, 122, 0);
    width: 100%;
    position: absolute;
    height: 25%;
    top: 50%;
    text-align: center;
    color: white;
}

.footer{ 
    width: 100%;
    background-color: rgb(30, 75, 0);
    position: absolute;
    height: 25%;
    top: 75%;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    .center{
        margin-left: 20%;
        height: 60%;
        position: absolute;
        top: 0%;
        background-color: rgb(0, 225, 255);
    }
    .left{
        left: 0px;
        width: 20%;
        position: absolute;
        top: 0%;
        height: 100%;
        background-color: rgb(0, 174, 255);
    }
    .right{
        margin-left: 20%;
        height: 20%;
        position: absolute;
        top: 60%;
        background-color: rgb(0, 107, 150);
    }
    .footer{
        margin-left: 20%;
        height: 20%;
        position: absolute;
        top: 80%;
        background-color: rgb(0, 81, 87);
    }

}

@media (min-width: 1024px) {
    .center{
        display: flex;
        justify-content: center;
        margin: 0% 20%;
        width: 60%;
        height: 80%;
        background-color: rgb(225, 0, 255);
        
    }

    .left{
        position: fixed;
        background-color: rgb(162, 0, 236);
    }

    .right{
        margin: 0%;
        position: fixed;
        left: 80%;
        width: 245px;
        top: 0%;
        height: 100%;
        background-color: rgb(105, 0, 153);
    }

    .footer{
        position: fixed; 
        width: 60%;
        background-color: rgb(89, 0, 97);
    }

    .center:hover {
        border: 5px solid rgb(255, 255, 255);
        z-index: 1000;
    }
    .left:hover {
        border: 5px solid rgb(255, 255, 255);
        z-index: 1000;
    }
    .right:hover {
        border: 5px solid rgb(255, 255, 255);
        z-index: 1000;
    }
    .footer:hover {
        border: 5px solid rgb(255, 255, 255);
        z-index: 1000;
    }
}